/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import "../fonts/Baskerville.ttc";
/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	color: #8F8282;
	font-family: 'Times New Roman', serif;
}

h1 {
	border-bottom: solid #F3EBE9 2px;
	font-size: 90px;
	font-weight: 300;
	font-family: 'Baskerville';
	margin-bottom: 5px;
	padding: 6px;
}

#necklace {
	border: solid #8F8282 6px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

.press-image {
	border: solid #8F8282 6px;
}

.press-image:hover {
	border: solid #635F5F 6px;
}

#copyright {
	font-size: 12px;
	text-align: right;
	padding-right: 50px;
}